@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.rtl-card {
    direction: rtl; /* Set text direction to right-to-left */
    text-align: right; /* Align text to the right */
}

.rtl-navbar {
    direction: rtl;
    text-align: right;
  }
.rtl-grid {
    direction: rtl;
    text-align: right;
}
  
  