@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .section {
        @apply bg-app-light font-Cairo font-medium w-full h-screen flex flex-col gap-2 justify-center items-center;
    }

    .title {
        @apply text-2xl font-black;
    }

    .text {
        @apply text-sm font-medium;
    }

}

@layer utilities {

    .rtl-card {
        direction: rtl; /* Set text direction to right-to-left */
        text-align: right; /* Align text to the right */
    }
    
    .rtl-navbar {
        direction: rtl;
        text-align: right;
      }
    .rtl-grid {
        direction: rtl;
        text-align: right;
    }

}