@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .section {
        @apply bg-app-light text-app-dark font-Cairo font-medium w-full h-screen flex flex-col gap-2 justify-center items-center;
    }

    .title {
        @apply text-2xl font-black;
    }

    .text {
<<<<<<< HEAD
        @apply text-base font-semibold;
    }
    
    .btn-primary {
        @apply bg-app--primary text-app-dark text px-2 py-1 rounded-full
        hover:bg-app-primary active:scale-110 duration-200;
    }

    .btn-dark {
        @apply bg-app--dark text-app-light text px-2 py-1 rounded-full
        hover:bg-app-dark active:scale-110 duration-200;
    }

    .btn-light {
        @apply bg-app--light text-app-dark text px-2 py-1 rounded-full
        active:scale-110 duration-200;
=======
        @apply text-sm font-medium;
>>>>>>> 66df2d644b4a75a64d101541a28a3237aff00cc0
    }

}

@layer utilities {

    .rtl-card {
        direction: rtl; /* Set text direction to right-to-left */
        text-align: right; /* Align text to the right */
    }
    
    .rtl-navbar {
        direction: rtl;
        text-align: right;
      }
    .rtl-grid {
        direction: rtl;
        text-align: right;
    }

}