/* App styling */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    * {
        font-family: "Cairo", "sans-serif";
    }

    body {
        width: 100vw;
        height: 100vh;
        overflow-x: hidden
    }

}

@layer components {

    .app {
        @apply max-w-[1200px] w-full min-h-screen flex flex-col py-20
        justify-start items-center overflow-hidden mx-auto;
    }


    .navbar {
        @apply w-full grid grid-cols-6 md:grid-cols-12 items-center gap-2
         p-2 md:p-4 border-b border-app--primary;
    }

    .page {
        @apply w-full flex flex-col gap-4 p-4 md:py-20 justify-center items-center;
    }

    .title {
        @apply text-xl font-black;
    }

    .text {
        @apply text-sm font-semibold;
    }

    .text-rtl {
        direction: rtl;
        text-align: right;
    }
    .rtl-container{
        direction: rtl;
        text-align: right;
    }

    .btn-primary {
        @apply bg-app-primary text-app-light text px-3 py-2 w-fit
        rounded-full hover:bg-app--primary active:scale-110
        duration-200 cursor-pointer whitespace-nowrap;
    }

    .btn-dark {
        @apply bg-app-dark text-app-light text px-3 py-2 w-fit
        rounded-full hover:bg-app--dark active:scale-110
        duration-200 cursor-pointer whitespace-nowrap;
    }

    .btn-light {
        @apply bg-app-light text-app-dark text px-3 py-2 w-fit
        rounded-full hover:bg-app--light active:scale-110
        duration-200 cursor-pointer whitespace-nowrap;
    }
    .text-rtl{
        direction: rtl;
        text-align: right;
    }

}